.group__box
  %p.group__box__name test-group
  %p.group__box__message さようなら
.group__box
  %p.group__box__name test-group
  %p.group__box__message さようなら
.group__box
  %p.group__box__name test-group
  %p.group__box__message さようなら