.main-header
  .left-hader
    .left-header__title
      = @messages.name
    %ul.left-header__members
      Member :
      %li.member
        hoge
  .right-header
    .right-header__button
      = link_to "Edit", "#"