.main__message__box
  %h2.main__message__name fuga-user
  %p.main__message__text こんにちは
  %p.main__message__date 2019/10/03(Thu) 13:25:50
.main__message__box
  %h2.main__message__name fuga-user
  %p.main__message__text こんにちは
  %p.main__message__date 2019/10/03(Thu) 13:25:50
.main__message__box
  %h2.main__message__name fuga-user
  %p.main__message__text こんにちは
  %p.main__message__date 2019/10/03(Thu) 13:25:50